
@model ClientPortal.ViewModels.IssueDetailViewModel
<h4>
    Attachments
</h4>
<p id="uploadedFiles">
    @if (Model.Attachments.Any())
    {
        foreach (var item in Model.Attachments)
        {
            <a href="/Issues/fileDownload?ID=@item.fileID" target="_blank">@System.IO.Path.GetFileName(item.originalFileName)</a>
            <br />

        }
    }
    else
    {
        <span>No attachments</span>
    }
    <br />
    <label for="file-upload" id="" class="custom-file-upload">
        Upload New Attachments
    </label>
    <br />
    <input type="file" id="FileUpload1" />
    <input type="button" id="btnUpload" value="Upload Files" />
    <br />
    <label id="lblSuccess"></label>
</p>